*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Linear-gradient:(active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}




main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--Very-dark-violet);
}

.images{
    margin-bottom: 30px;
}

.images{
    background-image: url('interactive-card-details-form-main/images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end
}

.card-back{
    margin-bottom: -92px;
    width: 352px;
    height: 200px;
    margin-right: 20px;
    background-color: var(--Light-grayish-violet);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}

.div-black{
    background-color: hsla(0, 0%, 0%, 0.74);
    margin-top: 20px;
    padding: 20px;
    
}

.meio{
    background-color: var(--Dark-grayish-violet);
    width: 80%;
    align-self: center;
    margin-top: 20px;
    padding: 3px;
    text-align: end;
    border-radius: 5px;
    color: white;

}

span{
    width: 50px ;
}
.circulos{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}
.circulo-maior p{

    width: 45px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-left: 20px;
}

.circulo-menor{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 25px;
    margin-top: 10px;
}

.numeros{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}
.nome{
    margin-left: 32px;
}
.data{
    margin-left:80px;
}

.card-front{
    width: 352px;
    height: 200px;
    color: white;
    background-image: linear-gradient(
        115deg,
        hsl(249deg 99% 64%) 0%,
        hsl(268deg 95% 41%) 7%,
        hsl(280deg 82% 34%) 19%,
        hsl(283deg 57% 43%) 35%,
        hsl(335deg 86% 58%) 55%,
        hsl(333deg 97% 54%) 77%,
        hsl(278deg 93% 30%) 100%
      );
    z-index: 10;
    justify-self: flex-start;
    align-self: flex-start;
    margin-left: 20px;
    border-radius: 5px;
}

.images img{
    width: 80%;
}

input{
    padding: 10px;
    border-radius: 7px;
    border: 1px solid var(--Dark-grayish-violet);
}

.form > .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.submit{
    width: 70%;
    margin-left: 60px;
}
#submit{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: var(--Very-dark-violet);

}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
}

.col{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}

.col .form-group{
    width: 80%;
}
.col input{
    width: 100%;
}
.form-group{
    margin-bottom: 20px;
    
}

.row .form-group{
    width: 33%;
    padding-left: 20px;
}
.row input{
    width: 50%;
}
#cvc{
    width: 80%;
}
.row > .form-group > label, input{
    align-self: center;
    justify-self: center;
    
}
.form-group label {
    display: flex;
    vertical-align: top;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}